# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson
'atom-text-editor':
    'ctrl-cmd-left': 'unset!'
    'ctrl-cmd-right': 'unset!'
    'cmd-ctrl': 'hey-pane:toggle-focus-of-active-pane'
    'ctrl-1': 'pane-move-to:1'
    'ctrl-2': 'pane-move-to:2'
    'ctrl-3': 'pane-move-to:3'
    'ctrl-4': 'pane-move-to:4'



'body':
    'cmd-ctrl-left': 'pane:split-left-and-copy-active-item'
    'cmd-ctrl-right': 'pane:split-right-and-copy-active-item'
    'shift-cmd-T': 'pane:reopen-closed-item'
    'cmd-O': 'application:add-project-folder'

'.platform-darwin atom-workspace':
    'cmd-shift-o': 'advanced-open-file:toggle'
    'shift-cmd-T': 'unset!'

'.platform-darwin atom-text-editor':
    'cmd-shift-L': 'grammar-selector:show'
    'shift-cmd-G': 'unset!'

'atom-workspace atom-text-editor:not([mini])':
    'alt-up': 'editor:move-line-up'
    'alt-down': 'editor:move-line-down'
    'alt-shift-down': 'editor:duplicate-lines'
    'cmd-alt-down': 'editor:add-selection-below'
    'cmd-alt-up': 'editor:add-selection-above'

'.workspace':
    'cmd-shift-G': 'github:toggle-git-tab'

'atom-text-editor[data-grammar~="jsx"]:not([mini])':
    'tab': 'emmet:expand-abbreviation-with-tab'
